
a.cebutton.thin {
    /*float: left;*/
    margin-right: 5px;
    color: #414141;
    text-decoration: none;
    border: 1px solid #dedede;
    border-radius: 2px;
    text-decoration:none;
    font-size: 0.9em;
    font-weight: bold;
    height: 23px;
    line-height: 23px;
    padding-bottom: 0;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 0;
    position: relative;
        
    background: rgb(255,255,255);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNWY1ZjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(245,245,245,1)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(245,245,245,1) 100%);
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(245,245,245,1) 100%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(245,245,245,1) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(245,245,245,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0 );
}

a.cebutton.thin.cedropper {
    padding-right: 22px;
    color:#994D53;
    text-decoration:none;
}

a.cebutton.thin.option {
    padding-left: 22px;
    color:#994D53;
}

a.cebutton,.CEUDialog a.cedlgbut {
    display: inline-block;
    font-size: 13px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;

    color: #fff;
    padding: 0 10px;
    border: 1px solid;
    border-color: #595a5c;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    
    background-color: #777;
    background-image: -webkit-linear-gradient(top,#858585 0%,#5e5e5e 100%);
    background-image: -moz-linear-gradient(top,#858585 0%,#5e5e5e 100%);
    background-image: -o-linear-gradient(top,#858585 0%,#5e5e5e 100%);
    background-image: -ms-linear-gradient(top,#858585 0%,#5e5e5e 100%);
}

a.cebutton:active  ,  .CEUDialog a.cedlgbut:active {
    background-color: #777;
    background-image: -webkit-linear-gradient(top,#5e5e5e 0%,#858585 100%);
    background-image: -moz-linear-gradient(top,#5e5e5e 0%,#858585 100%);
    background-image: -o-linear-gradient(top,#5e5e5e 0%,#858585 100%);
    background-image: -ms-linear-gradient(top,#5e5e5e 0%,#858585 100%);
}

#cecontextmenu {
    position: absolute;
    z-index: 50;
    padding: 3px 0;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    color: #666666;
    font-size: 13px;
    font-weight: bold;
    border-radius: 3px;
    box-shadow: 2px 1px 3px lightgray;
}

#cecontextmenu div.cecontextitem.disabled {
    background-color: #FFFFFF;
    /*font-style: italic;*/
    cursor: default;
    color: black;
}

#cecontextmenu div.cecontextitem:hover {
    background-color: #EDF8FF;
    color: #000000;
}

#cecontextmenu div.cecontextitem.noicon {
    padding: 0 5px 0 5px;
}

#cecontextmenu div.cecontextitem {
    cursor: pointer;
    height: 16px;
    line-height: 17px;
    margin: 3px 10px;
    padding: 0 5px 0 22px;
    position: relative;
    white-space: nowrap;
}

a.cebutton.thin.cedropper div.cedropper {
    position: absolute;
    width: 10px;
    height: 5px;
    background: transparent url(../images/smalldropper.png) no-repeat 0px 0px;
    right: 8px;
    top: 8px;
}

a.cebutton.thin.option div.bring {
    position: absolute;
    width: 16px;
    height: 16px;
    background: transparent url(../images/go-into.png) no-repeat 0px 0px;
    left: 4px;
    top: 2px;
}

a.cebutton.thin.option div.input {
    position: absolute;
    width: 16px;
    height: 16px;
    background: transparent url(../images/input-price.png) no-repeat 0px 0px;
    left: 4px;
    top: 2px;
}